{% extends './base_authenticated.html' %} {% block content %}

<main class="container vh-100">
	<h1 class="text-primary mb-4">Your Surveys</h1>
	{% if surveys %}
	<table class="table mb-4">
		<thead>
			<tr>
				<th scope="col">Survey</th>
				<th scope="col">Created on</th>
				<th scope="col">Status</th>
				<th scope="col">Submissions</th>
				<th scope="col"></th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for survey in surveys %}
			<tr>
				<th scope="row">
					<a href="{% url 'survey_detail' slug=survey.slug %}"
						>{{ survey.title }}</a
					>
				</th>
				<td>{{ survey.created }}</td>
				<td>{{ survey.status }}</td>
				<td>{{ survey.submissions }}</td>
				<td>
					<a
						href="{% url 'survey_edit' survey.slug %}"
						class="btn btn-outline-primary btn-sm"
						style="width: 80px"
						>Edit</a
					>
				</td>
				<td>
					<a
						href="{% url 'survey_delete' slug=survey.slug %}"
						class="btn btn-outline-primary btn-sm"
						style="width: 80px"
						>Delete</a
					>
				</td>
				<td>
					<a
						href="#"
						class="btn btn-outline-primary btn-sm"
						style="width: 80px"
						>Share</a
					>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p class="ms-2 mb-4">You don't have any surveys yet, create the first one!</p>
	{% endif %}
	<span class="container d-flex justify-content-center">
		<a
			href="{% url 'survey_add' %}"
			class="btn btn-primary btn-md px-4 me-sm-3"
			>New Survey</a
		>
	</span>
</main>
{% endblock %}
