{% extends './base_authenticated.html' %} {% block content %}

<main class="container">
	<div class="d-flex align-items-center">
		<div>
			<h1>{{ survey.title }}</h1>
			<p>Survey status: {{survey.status}}</p>
		</div>
		<button
			id="control-survey-edit-form"
			class="btn btn-outline-primary btn-sm px-4 ms-5"
		>
			Edit survey
		</button>
	</div>
	<div id="survey-edit-form" style="display: none">
		<form method="POST">
			{% csrf_token %} {{ form.as_p }}
			<input
				type="submit"
				value="Save Changes"
				class="btn btn-primary btn-md px-4 me-sm-3 mt-4"
			/>
		</form>
	</div>
	<div class="d-flex justify-content-center mt-3">
		<a href="" class="btn btn-primary btn-md px-4 me-sm-3 mt-4"
			>Add Question</a
		>
		<a
			href="{% url 'survey_list' %}"
			class="btn btn-primary btn-md px-4 me-sm-3 mt-4"
			>Go to Dashboard</a
		>
	</div>
</main>

{% endblock %}
