{% extends './base_authenticated.html' %} {% block content %}

<main class="container">
	<h1 class="text-primary">Update Questions</h1>
	<form action="" method="post" enctype="multipart/form-data">
		{% for hidden_field in form.hidden_fields %} 
			{{hidden_field.errors }} 
			{{ hidden_field }} 
		{% endfor %} 
		{% csrf_token %} 
		{{ form.management_form }} 
		{{ form.non_form_errors }}

		{% for question_form in form.forms %}
		<hr />
		{% for hidden_field in question_form.hidden_fields %} 
			{{ hidden_field.errors }} 
		{% endfor %}
			{{ question_form.as_p }}
		{% endfor %}
		<hr />
		<div class="d-flex justify-content-center mt-3">
			<button
				type="submit"
				value="Update collection"
				class="btn btn-primary btn-md px-4 me-sm-3 mt-4"
			>
				Update Questions
			</button>
			<a
				href="{% url 'survey_edit' slug=survey.slug %}"
				role="button"
				class="btn btn-secondary btn-md px-4 me-sm-3 mt-4"
				>Cancel</a
			>
		</div>
	</form>
</main>

{% endblock %}
