{% extends './base.html' %}

{% block content %}
  <header class="px-4 pt-5 my-5 text-center">
    <h1 class="display-4 fw-bold text-primary">Create your own surveys</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-secondary fw-medium">Share them with your target audience and automatically gather insights from the results</p>
    </div>
  </header>
  <main>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <a href="{% url 'login' %}" class="btn btn-primary btn-lg px-4 me-sm-3">Log in</a>
      <a href="{% url 'signup' %}" class="btn btn-secondary btn-lg px-4 me-sm-3">Sign up</a>
    </div>
    <div class="container px-5">
      <img src="" class="img-fluid border rounded-3 shadow-lg mb-4" alt="">
    </div>
  </main>
{% endblock %}